<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div style="width :30%; margin:25px auto;">
            <h2 style="text-align:center;">Add a New Comment to <%= campground.name %>  </h2>
            <form method="POST" action="/campgrounds/<%= campground._id %>/comments" name="campgrounds">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder=" text...">
                </div>
                <button class="btn btn-lg btn-primary btn-default btn-block" type="submit">Submit</button>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>